:root {
  --colors-tan00: #edeae4;
  --colors-tan01: #f6f2ea;
  --colors-tan40: #f4f1e9;
  --colors-tan06: hsl(45, 100%, 98%);
  --colors-tan02: #e0e3d7;
  --colors-tan03: #d6d0be;
  --colors-tan04: #d8d2b7;
  --colors-tan05: #e3dccd;
  --colors-green01: #b0ac8c;
  --colors-yellow00: #f9d6a8;
  --colors-yellow01: #e1af6f;
  --colors-green02: #303c43;
  --colors-purple01: #5a33bc;
  --colors-red01: #eb736c;
  --colors-red02: #c2484b;
  --colors-pink01: #faa4a0;
  --colors-pink02: #f190a3;
  --colors-grey00: #f6f5f6;
  --colors-00: #e8e5db;
  --colors-01: #dbd1c9;
  --colors-02: #ebe9ee;
  --colors-03: #dfce09;
  --colors-f8: #faf8f3;
  --colors-04: #50a86b;
  --colors-green-deep: #63856a;
  --colors-greenalt: #2a7c5e;
  --colors-05: #9faa07;
  --colors-06: #f1d90a;
  /*  */
  --colors-y0: #e6b85b;
  --colors-07: #d95029;
  --colors-08: #fef0ec;
  --colors-07: #fa9e7f;
  --colors-16: #f3d7cc;
  --colors-17: #eaacdf;
  --colors-09: #dc5344;
  --colors-red-rust: #cc4e20;
  --colors-10: #f4ffff;
  --colors-15: #ddf2ef;
  --colors-11: #1d82c1;
  --colors-12: #fef687;
  --colors-14: #fffce4;
  --colors-13: #2f2f2f;
  --colors-dark: #2f2f2f;
  --colors-dark-green: #042921;
  --colors-accent-purple: #6200ee;
  --colors-pk: #cfbeba;
  --colors-meow-pink: #f680ff;
  --colors-meow-yellow: #fade4c;
  --colors-e05: #80acaa;
  --colors-e00: #facaaa;
  --colors-e01: #f89c21;
  --colors-e02: #f979ba;
  --colors-e03: #ee5b2c;
  --colors-e04: #f6eee7;
}
.form-container {
  background-color: var(--colors-grey00);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
form {
  padding: 2rem;
  width: 89%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
form > * {
  flex: 1;
}
input {
  background-color: #fafafa;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid hsl(0, 0%, 90%);
  padding: 1rem;
  border-radius: 5px;
}
.ingredients-fieldset {
  border: 1px solid hsl(0, 0%, 90%);
  padding: 1rem;
  border-radius: 5px;
}
.ingredients-fieldset .input-container {
  border-color: transparent;
  flex-direction: row;
}
