header {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0px;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0px 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
.navlink-li {
  white-space: nowrap;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navlink-li:focus,
.navlink-li:focus-visible,
.navlink-li:focus-within,
.navlink-li:hover {
}
.navlink-li:focus,
.navlink-li:focus-visible,
.navlink-li:focus-within {
}
.navlink-li .navlink {
  color: black;
  text-underline-offset: 2px;
  text-decoration-color: transparent;
  text-decoration-style: wavy;
  transition: 200ms ease all;
}
.navlink-li .navlink:focus,
.navlink-li .navlink:focus-visible,
.navlink-li .navlink:focus-within,
.navlink-li .navlink:hover {
  text-decoration-style: wavy;
  text-decoration-color: blue;
  text-decoration-thickness: 1px;
}
.navlink-li:has(.navlink--active) .navlink {
  text-decoration-color: blue;
  text-decoration-thickness: 1px;
  color: blue;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
}
.navlink-li:has(.navlink--active) .navlink:focus,
.navlink-li:has(.navlink--active) .navlink:focus-visible,
.navlink-li:has(.navlink--active) .navlink:focus-within,
.navlink-li:has(.navlink--active) .navlink:hover {
  text-decoration-style: wavy;
  color: purple;
}
.navlink-login {
  font-weight: bolder;
}
.nav-logout-btn {
  background-color: inherit;
  color: inherit;
  font-weight: bolder;
}
