@import './mixins';
.hero {
  color: white;
  min-height: 60vh;
  padding: 2rem 10px;
  background-color: black;
  position: relative;
  @include FlexMix;
  .hero-text {
    max-width: 70%;
  }
  @include ScreensLargerThan(550px) {
    .hero-text {
      max-width: 60%;
    }
  }
  .btns {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0px 1rem 0px 0px;
  }
  .btn {
    flex: 1;
    background-color: #fafafa;
    color: black;
    &:hover {
      background-color: rgb(169, 227, 243);
    }
  }
  .btn:nth-child(1) {
    &:hover {
      background-color: rgb(252, 193, 46);
    }
  }
}
.home-page {
  .hero-loggedin {
    min-height: 20vh;
  }
  .img {
    width: 100%;
    height: 100px;
    margin: 15px 0px;
  }
  .food-banner {
    display: flex;
  }
  .home-options {
    background-color: #f4f1e9;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: max-content;

    padding: 3rem 10px 15rem 10px;
    gap: 2rem;

    h2 {
      text-decoration: underline;
    }
    @include ScreensSmallerThan(500px) {
      grid-template-columns: 1fr;
    }
    .home-option {
      flex: 1;

      border-radius: 15px;
      padding: 15px;
      color: black;
      background-color: #fafafa;
      text-decoration: none;
      &:hover {
        h2 {
          color: rgb(42, 167, 116);
        }
      }
      .options-text {
        @include FlexMix($g: 1rem, $d: column);
      }
      .img {
        flex: 1 100%;
      }
    }
  }
}
