h3 {
  text-align: center;
}
p {
  max-width: 80ch;
}
img {
  max-width: 30rem;
  border-radius: 15px;
}
.about-section-details details {
  box-shadow: rgb(206, 204, 204) 0px 0px 2px 1px;
  border-radius: 15px;
  padding: 1rem;
  margin: 0.5rem;
}
.about-section-details details summary:hover {
  background-color: #f0ece9;
  border-radius: 15px;
  transition: 200ms ease all;
}
.about-section-details details[open] summary {
  border-bottom: solid 2px rgb(42, 167, 116);
}
.about-section-details details[open]:nth-child(even) summary {
  border-bottom: solid 2px rgb(169, 227, 243);
}
.about-section-details summary {
  min-height: 50px;
  padding: 15px;
  margin: 10px;
}

.about-the-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brief {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-page {
  margin: 0 auto;
}
section {
  padding: 1rem;
  margin: 0 auto;
}
.abt-page-img {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.who-made-this {
  background-color: #f0ece9;
}
