.card-grid {
  background-color: pink;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(17rem, 19rem));
  gap: 8px;
  justify-items: center;
  place-content: center;
}
.card-grid-card {
  max-width: 18rem;
}
@media only screen and (min-width: 900px) {
  .card-grid {
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-grid-card {
    width: 30vw;
    max-width: 45vw;
  }
}
@media only screen and (min-width: 1200px) {
  .card-grid {
    background-color: aqua;

    grid-template-columns: repeat(auto-fill, minmax(17rem, 19rem));
    gap: 8px;
    justify-items: center;
    place-content: center;
  }
  .card-grid-card {
    max-width: 18rem;
  }
}

@media only screen and (max-width: 760px) {
  .card-grid {
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-grid-card {
    width: 45vw;
    max-width: 45vw;
  }
}
@media only screen and (max-width: 560px) {
  .card-grid {
    background-color: palegreen;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .card-grid-card {
    width: 60vw;
    max-width: 60vw;
  }
}
@media only screen and (max-width: 430px) {
  .card-grid {
    background-color: palegreen;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .card-grid-card {
    width: 80vw;
    max-width: 80vw;
  }
}
