@import './Button';
@import './About';
@import './Card';
@import './CardGrid';
@import './Nav';
@import './Product';
@import './PeopleCards';
@import './Login';
@import './Home';
.flex {
  display: flex;
  justify-content: space-evenly;
}
.card {
  padding: 15px;
  border-radius: 5px;
}
