.people-cards {
  display: flex;
  justify-content: space-around;
}
.people-card {
  max-width: 45%;
  background-color: rgb(67, 146, 124);
  padding: 1rem;
  border-radius: 15px;
  position: relative;
}
.people-card:nth-child(even) {
  background-color: rgb(252, 193, 46);
}
.people-card-inner {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ppl-social-links {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
.ppl-social-links img {
  width: 3rem;
}
.people-card img {
  max-width: 95%;
}
h4 span {
  display: inline-block;
}
h4 span:nth-child(2) {
  color: lightslategray;
  font-size: smaller;
  padding-top: 0.5rem;
}
@media screen and (max-width: 750px) {
  .people-cards {
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
  }
  .people-card {
    max-width: 100%;
    background-color: rgb(67, 146, 124);
    padding: 1rem;
    border-radius: 15px;
    position: relative;
  }

  .profile-img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  .people-card-top {
    display: flex;
  }
}
