.auth-form button {
  margin: 2em 0px;
}
.auth-form-alt-options div {
  text-align: left;
  display: flex;
  gap: 1em;
  align-items: baseline;
}
.sign-in-as-guest,
.auth-form-alt-options a {
  background-color: inherit;
  color: var(--link-color);
  text-decoration: underline blue;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  display: flex;
  text-align: left;
}

.sign-in-as-guest:hover,
a:hover {
  background-color: inherit;
  color: var(--link-color-hover);
  text-decoration: underline blue wavy 1px;
  text-underline-offset: 1px;
}
.sign-in-as-guest:focus,
.sign-in-as-guest:focus-visible,
.sign-in-as-guest:focus-within,
a:focus,
a:focus-visible,
a:focus-within {
  background-color: inherit;
  color: var(--link-color-hover);
  text-decoration: underline blue wavy 1px;
  text-decoration: underline blue wavy 1px;
  text-underline-offset: 1px;
}
